@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --colour--: #815fef;
  --pink--: #ffedeb;
  --red--: #ed4632;
  --green--: #649f61;
  --dash--: #f0f4f7;
}

body {
  background-color: #f0f4f7;
}

.mainDiv {
  max-width: 500px;
  padding: 40px 20px;
  border-radius: 20px;
  box-shadow: 0 2px 12px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 20px auto;
}

.mainDiv>h1 {
  text-align: center;
  color: var(--colour--);
}

.balanceDiv {
  text-align: center;
  margin-top: 20px;
}

.balanceDiv>p {
  color: var(--colour--);
  font-size: 20px;
  font-weight: 700;
}

.balance {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.income {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 16px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.05);
  padding: 16px 20px;
  background-color: rgb(240, 240, 240);
}

.Expenses {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;
  border-radius: 16px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.05);
  background-color: var(--pink--);
}

.Expenses h4,
.income h4 {
  font-size: 16px;
  font-weight: 600;


}

.Expenses p,
.income p {
  font-size: 18px;
  color: #000;
  font-weight: 700;


}

form {
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin-top: 20px;
}

form h3 {
  font-size: 16px;

}

.btn {
  width: fit-content;
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  color: #000;
  font-weight: 600;
}

label>span {
  font-size: 12px;
}

input {
  border-radius: 6px;
  padding: 8px 10px;
  outline: none;
  border: 1px solid #ccc;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th,
td {

  padding: 8px 0;

  text-align: center;
}

.delete-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred;
}

.amountRed {
  color: #ed4632;
}

form>button {
  background-color: var(--colour--);
  color: #fff;
  padding: 8px 10px;
  font-size: 12px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.history {
  margin-top: 10px;
  border-radius: 20px;


}

.history h2 {
  font-size: 18px;
  color: var(--colour--);
}

.tablehead {
  background-color: var(--dash--);
  font-size: 14px;
  font-weight: 200;

}

#transactionList {
  text-align: left;
  border-top: 1px solid #ddd;
  border-radius: 20px;
  border-bottom: 1px solid #ddd;
}

.addTransactionDiv {
  display: none;
}